@import url('https://fonts.googleapis.com/css?family=Poppins:200,300,400,500,600,700,800,900&display-swap');

* {
    margin:0;
    padding:0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    background-position: center;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;
}

.header1 {
    color: white;
    text-align: center;
    border-radius: 10px 10px 10px 10px;
    padding: 10px;
}
.form1{
    margin: 0px auto;
    padding: 20px;
    background: rgba(255, 255, 255, 0.1);
    border-radius: 10px;
    box-shadow: 0 5px 35px rgba(0, 0, 0, 0.2);
}

.formprofile{
    margin: 40px auto;
    padding: 20px;
    width: 70%;
    background: rgba(0, 0, 0, 0.63);
    border-radius: 30px;
    box-shadow: 0 5px 35px rgba(0, 0, 0, 0.2);
    float: left;
    height: 70vh;
    margin-left: 350px;
    align-items: center;
    justify-content: center;
}

.formprofile1{
    margin: 40px auto;
    padding: 20px;
    width: 30%;
    height: 65vh;
    background: rgba(0, 0, 0, 0.63);
    border-radius: 10px;
    box-shadow: 0 5px 35px rgba(0, 0, 0, 0.2);
    float: right;
    margin-right:350px;
  }

form .input-group input{
    height: 50px;
    width: 100%;
    padding : 10px 10px;
    font-size: 16px;
    border-radius: 30px;
    color: white;
    background: transparent;
    box-shadow: inset 0 0 25px rgba(0, 0, 0, 0.2);
    border: 1px solid rgba(255, 255, 255, 0.2);
    font-weight: 300;
    outline: none;    
    padding-left: 40px;
}

.input-group label{
    color: white;
}

form .input-group .btn{    
    background: #fff;
    color: #111;
    width: 100%;
    box-shadow: none;
    padding: 8px 10px;
    letter-spacing: 1px;
    font-weight: 800;
    border-radius: 30px;
    border: 1px solid rgba(255, 255, 255, 0.2);
    opacity: 90%;
}

form .input-group .btn1{    
    background: #fff;
    color: #111;
    width: 100%;
    box-shadow: none;
    padding: 8px 10px;
    letter-spacing: 1px;
    font-weight: 800;
    border-radius: 30px;
    border: 1px solid rgba(255, 255, 255, 0.2);
    opacity: 90%;
    margin-bottom: -20px;
}

form .input-group img{
    width: 30px;
    height: 3vh;
    position: relative;
    top: 48px;
    left: 10px;
    transform: scale(0.6);
    filter: invert(1);
}

.box .form{
    position: relative;
    width: 100%;
}
.error {
    width: 92%;
    margin: 0px auto;
    padding: 10px;
    border: 1px solid #a94442;
    color: #a94442;
    background: #f2dede;
    border-radius: 5px;
    text-align: left;
}

.success {
    color: #3c763d;
    background: #dff0d8;
    border: 1px solid #3c764d;
    margin-bottom: 20px;
}

header{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 40px 100px;
    z-index: 10000;
    transition: 0.6s;
}

header .logo{
    position: relative;
    font-weight: 700;
    color: #fff;
    text-decoration: none;
    font-size: 2em;
    text-transform: uppercase;
    letter-spacing: 2px;
    transition: 1s;
}

header #toggle{
    position: relative;
    width: 30px;
    height: 30px;
    cursor: pointer;
}

header #toggle:before{
    content: '';
    position: absolute;
    top: 20px;
    width: 100%;
    height: 2px;
    background: #fff;
}

header #toggle:after{
    content: '';
    position: absolute;
    bottom: 20px;
    width: 100%;
    height: 2px;
    background: #fff;
}

.banner.active header #toggle:before{
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%) rotate(45deg);
}

.banner.active header #toggle:after{
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%) rotate(-45deg);
}

.banner{
    position: relative;
    width: 100%;
    min-height: 100vh;
    padding: 100px;
    transition: 0.5s;
    background: url(landing.jfif); 
    background-repeat: no-repeat;
    background-size: cover;
    z-index: 2;
}

.banner.active{
    transform: translateX(-400px);
}

#navigation{
    position: fixed;
    top: 0;
    right: -200px;
    width: 400px;
    height: 100vh;
    background: url(banner.jpg);
    z-index: 1;
    display: grid;
    place-items: center;
    transition: 0.6s;
}

#navigation.active{
    right: 0;
}

#navigation ul{
    position: relative;
    display: flex;
    flex-direction: column;
}

#navigation ul li{
    list-style: none;
}

#navigation ul li a{
    color: #fff;
    text-decoration: none;
    display: inline-block;
    font-size: 2em;
    font-weight: 700;
    text-transform: uppercase;
}

section .sci li img{
    width: 5%;
    height: 10vh;
}

.content{
    max-width: 800px;
}

.content h2{
    color: #fff;
    font-size: 2em;
    text-transform: capitalize;
}

.content h2 span{
    color: #ffffff;
    font-size: 2em;
}
.content p{
    font-size: 1.2em;
    color: #fff;
    font-weight: 300;
}

.content a{
    position: relative;
    display: inline-block;
    margin-top: 20px;
    background: #fff;
    border-radius: 30px;
    color: #000;
    padding: 10px 30px;
    text-decoration: none;
    font-size: 1.2em;
    font-weight: 500;
}

.sci{
    display: flex;
    flex-direction: column;
    list-style: none;
    top:70%;
    height:200px;
    width:60px;
    position:fixed;
    left: 50px;
}

.sci li a{
    position: relative;
    display: grid;
    place-items: center;
    text-decoration: none;
    border: 1px solid #fff;
    border-radius: 30px;
    margin: 10px 0 0;
}

.sci li a:hover{
    background: #fff;
}

.sci li a img{
    width: 60px;
    height: 6vh;
    filter:invert(0);
}

textarea {
    width: 100%;
    height: 150px;
    padding: 12px 20px;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 30px;
    background-color:transparent;
    resize: none;
    box-shadow: inset 0 0 25px rgba(0, 0, 0, 0.2);
    border: 1px solid rgba(255, 255, 255, 0.2);
    font-weight: 300;
    outline: none;    
    padding-left: 40px;
    color: white;
    overflow-y: scroll;
    overflow: auto;
    font-size: 16px;
  }

  .contact-info{
      margin-top: 80px;
      margin-bottom: 150px;
      display: flex;
      justify-content: center;
      align-items: center;
      width: 100%;
      padding: 0 20px;           
  }

  .card{
      background:rgba(0, 0, 0, 0.2);
      padding: 0 20px;
      margin: 0 50px;
      width: calc(33% - 20px);
      height: 200px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      color: white;
      border-radius: 30px;
  }

  .card-icon{
      font-size: 30px;
      background: #ff6348;
      width: 60px;
      height: 60px;
      text-align: center;
      line-height: 60px !important;
      border-radius: 30px;
      transition: 0.5s linear;
  }

  .card:hover .card-icon{
      background: none;
      color: #ff6348;
      transform: scale(1.6);
  }

  .card p{
      margin-top: 20px;
      font-weight: 300;
      letter-spacing: 3px;
      opacity: 0;
      transition: 0.5s;
  }

  .card:hover p{
      max-height: 50px;
      opacity: 1;

  }

  @media screen and (max-width:800px){
      .contact-info{
          flex-direction: column;
      }
      .card{
          width: 100%;
          max-width: 300px;
          margin: 10px 0;
      }
  }

  .headercontact{
      text-align: center;
      color: white;
      border-radius: 30px;
      background:rgba(0, 0, 0, 0.2);
      width: 20%;
      align-items: center;
      margin: 0px auto;
      font-weight: 600;
      margin-top: 0px;
      font-size: 40px;
  }

  .headerprofile{
    width: 100%;
    text-align: center;
    color: white;
    border-radius: 30px;
    font-size: 30px;
    align-items: center;
    margin: 0px auto;
    
  }

  .table1{
    float: left;
    margin-left: 270px;
  }

  .table2{
    float: right;
    margin-right: -450px;    
  }


  
  

  






